# Class 1 - Introduction to Python and Different Data types

In [2]:
a = 10

In [3]:
a

10

In [ ]:
Python 2.7
Python 3.7

In [5]:
print a

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(a)? (<ipython-input-5-da1608c9d425>, line 1)

In [4]:
print(a)

10

In [6]:
#Functional Programming Language - C programming 
#OOPs - C++
#Scripting Language - Perl and Shell scripting 
#Modular Programming - Modula 3 
#Syntax of Python - C programming and ABC programming

In [7]:
#Where can I use Python 
#Desktop application 
#Web application - Django, Flask, Tkinter
#Database Applications 
#Games 
#Network Application 
#Data Analytics and Data Science 
#Machine Learning 
#Artificial Intelligence and Deep learning 
#IoI applications

In [8]:
from random import *
for i in range(0,10):
    print(randint(0,9),randint(0,9),randint(0,9),randint(0,9),randint(0,9),randint(0,9))

0 5 8 1 7 8
7 0 7 6 7 3
8 5 0 9 1 4
9 2 3 3 4 3
7 3 7 8 0 1
5 1 3 6 5 1
5 3 4 4 7 5
9 8 9 8 0 0
6 8 3 4 9 0
8 9 1 6 0 1

In [9]:
#Flavours of Python 
#cpython 
#Jpython - Jython
#IronPython - Csharp, .net
#pypy - Performance internally improved in P(ython) V(irtual) M(achine)
#RubyPython - Ruby
#Anaconda Python - Big data

In [10]:
#Python versions 
#Python 1.0 - 1994
#Python 2.0 - 2000
#Python 3.0 - 2008
#Python 3.6.3 - 2016
#Python 3.8.2 - 2020

In [11]:
#Python Identifiers 
#alphabets (both upper or lower)
#digits (0-9)
#Underscore _ 
customer_name = 'Rahul'

In [15]:
customer_name = 'Rahul'
#Dynamically Typed programming language

In [19]:
type(customer_name)

str

In [23]:
icust123 = 'Rahul'

In [24]:
_stu = 'rahul'

In [25]:
_stu

'rahul'

In [27]:
CUST = 'A'
cust = 'B'

In [28]:
CUST

'A'

In [29]:
cust

'B'

In [30]:
import = 'Rahul'

SyntaxError: invalid syntax (<ipython-input-30-d8abb2d720b1>, line 1)

In [32]:
import keyword 
len(keyword.kwlist)

35

In [33]:
#Types of datatypes 
#int
#float
#str
#bool

#Complex
#Byte
#Bytearray
#range

#Python Collection datatypes 
#Lists 
#Tuples 
#sets 
#Frozensets
#Dictionaries 

#None

In [37]:
a = '123'
b = '345'
int(a)+int(b)

468

In [39]:
a = 10
print(id(a))
b = 10
print(id(b))

140733052723888
140733052723888

In [40]:
a = 257
print(id(a))
b = 257
print(id(b))

2842231934672
2842231934576

In [41]:
#Int 
    #Decimal - Base 10 
    #Binary - Base 2
    #Octal - Base 8
    #Hexadecimal - Base 16

In [43]:
a = 10
a

10

In [47]:
a = 0b1111
print(a)

15

In [ ]:
0o
0x

In [ ]:
#Float

In [49]:
type(10.5)

float

In [53]:
cust = "123"
type(cust)

str

In [56]:
#Complex number 
#a + bj
x = 10 + 2j
type(x)

complex

In [57]:
a = True
type(a)

bool

In [60]:
b = 'Edureka Training'

In [65]:
a = '''Edureka 
                Training'''

In [61]:
b

'Edureka Training'

In [62]:
a

'Edureka \n                Training'

In [66]:
"Python by 'Edureka' is good and the 'Materials' are good also"

"Python by 'Edureka' is good and the 'Materials' are good also"

In [69]:
print('''Python by 'Edureka' is good and the "Materials" are good also''')

Python by 'Edureka' is good and the "Materials" are good also

In [70]:
a = 'Edureka'

In [71]:
a[0:3]

'Edu'

In [72]:
a[3:6]

'rek'

In [77]:
a[-1:-4:-1]

'ake'

In [78]:
a

'Edureka'

In [79]:
a[-3:-1]

'ek'

In [80]:
#Python collection datatypes 
#Lists 
ages = [21,23,32,32,12,32,33,23,22,33,22,33]

In [81]:
ages

[21, 23, 32, 32, 12, 32, 33, 23, 22, 33, 22, 33]

In [82]:
list1 = ['A', 10, 9.5, True]

In [87]:
type(list1[3])

bool

In [88]:
len(ages)

12

In [89]:
ages

[21, 23, 32, 32, 12, 32, 33, 23, 22, 33, 22, 33]

In [90]:
ages[0:4]

[21, 23, 32, 32]

In [91]:
ages[-1:-5]

[]

In [94]:
ages[-1:-10:-4]

[33, 23, 32]

In [96]:
ages[-4::-1]

[22, 23, 33, 32, 12, 32, 32, 23, 21]

In [100]:
#Insertion order is preserved
#Duplicates are allowed
#Heterogeneous data allowed
#Growable in nature
#Values should be enclosed in a square bracket
#Mutable

In [98]:
ages[4] = 22

In [99]:
ages

[21, 23, 32, 32, 22, 32, 33, 23, 22, 33, 22, 33]

In [105]:
ages.append(100)

In [106]:
ages

[21, 23, 32, 32, 22, 32, 33, 23, 22, 33, 22, 33, 100]

In [108]:
ages.append([200,300])

In [113]:
ages[13][0]=2000

In [116]:
del ages[-1]

In [118]:
ages.clear()

In [120]:
ages=[21, 23, 32, 32, 22, 32, 33, 23, 22, 33, 22, 33, 100]

In [122]:
ages1=ages.copy()

In [123]:
ages

[21, 23, 32, 32, 22, 32, 33, 23, 22, 33, 22, 33, 100]

In [125]:
del ages1

In [126]:
ages1

NameError: name 'ages1' is not defined

In [128]:
ages.extend([10,11,12])

In [129]:
ages

[21, 23, 32, 32, 22, 32, 33, 23, 22, 33, 22, 33, 100, 10, 11, 12]

In [131]:
ages.index(22)

4

In [132]:
ages.insert(12,50)

In [133]:
ages

[21, 23, 32, 32, 22, 32, 33, 23, 22, 33, 22, 33, 50, 100, 10, 11, 12]

In [134]:
ages.pop()

12

In [137]:
ages.pop(10)

22

In [139]:
ages.insert(12,75)

In [141]:
ages.remove(75)

In [143]:
ages.reverse()

In [145]:
ages.sort()

In [147]:
ages.sort(reverse=True)

In [149]:
ages.append([34,54,54])

In [151]:
ages.sort()

TypeError: '<' not supported between instances of 'list' and 'int'

In [153]:
#Tuple
ages = (21,23,23,22,33)

In [154]:
ages[1] = 100

TypeError: 'tuple' object does not support item assignment

In [155]:
ages.count(23)

2

In [156]:
ages.index(23)

1

In [158]:
type(ages)

tuple

In [159]:
ages1 = list(ages)

In [160]:
ages

(21, 23, 23, 22, 33)

In [162]:
type(ages1)

list

In [164]:
sum(ages)

122

In [166]:
sum(ages1)

122

In [168]:
max(ages1)

33

# Class 2 - Different Data Types and Operators

In [1]:
#Dictionaries
#Sets 
#range 
#Operators in Python

Dictionaries

In [2]:
stu_details = {'Name':'John', 'stu_id':1, 'Region':'North'}

In [4]:
stu_details['Region']

'North'

In [5]:
stu_details['Region'] = 'South'

In [6]:
stu_details

{'Name': 'John', 'stu_id': 1, 'Region': 'South'}

In [7]:
stu_details['Avg_Marks'] = 85.5

In [8]:
stu_details

{'Name': 'John', 'stu_id': 1, 'Region': 'South', 'Avg_Marks': 85.5}

In [9]:
len(stu_details)

4

In [60]:
stu_details = {'Name':['Rahul','Rohaan','John','James'], 
              'Stu_id':[1,2,3,4], 
              'Region':['S','N','E','NaN'],
              'NM':['Rahul','Rohaan','John','James'],
              'NM':['Mitesh','Rohaan','John','James']}

In [33]:
del stu_details['Stu_id'][4]

In [31]:
stu_details

{'Name': ['Rahul', 'Rohaan', 'John', 'James'],
 'Stu_id': [1, 2, 3, 4, 5],
 'Region': ['S', 'N', 'E', 'NaN'],
 'NM': ['Mitesh', 'Rohaan', 'John', 'James']}

In [25]:
import pandas as pd

In [34]:
pd.DataFrame(stu_details)

     Name  Stu_id Region      NM
0   Rahul       1      S  Mitesh
1  Rohaan       2      N  Rohaan
2    John       3      E    John
3   James       4    NaN   James

In [36]:
a = stu_details.fromkeys({'Name','Region'}, 'NA')

In [35]:
stu_details

{'Name': ['Rahul', 'Rohaan', 'John', 'James'],
 'Stu_id': [1, 2, 3, 4],
 'Region': ['S', 'N', 'E', 'NaN'],
 'NM': ['Mitesh', 'Rohaan', 'John', 'James']}

In [38]:
a['Region']=['S','N']

In [39]:
a

{'Region': ['S', 'N'], 'Name': 'NA'}

In [41]:
stu_details.get('Name')

['Rahul', 'Rohaan', 'John', 'James']

In [42]:
stu_details['Name']

['Rahul', 'Rohaan', 'John', 'James']

In [43]:
stu_details.items()

dict_items([('Name', ['Rahul', 'Rohaan', 'John', 'James']), ('Stu_id', [1, 2, 3, 4]), ('Region', ['S', 'N', 'E', 'NaN']), ('NM', ['Mitesh', 'Rohaan', 'John', 'James'])])

In [44]:
stu_details

{'Name': ['Rahul', 'Rohaan', 'John', 'James'],
 'Stu_id': [1, 2, 3, 4],
 'Region': ['S', 'N', 'E', 'NaN'],
 'NM': ['Mitesh', 'Rohaan', 'John', 'James']}

In [45]:
stu_details.keys()

dict_keys(['Name', 'Stu_id', 'Region', 'NM'])

In [46]:
stu_details.values()

dict_values([['Rahul', 'Rohaan', 'John', 'James'], [1, 2, 3, 4], ['S', 'N', 'E', 'NaN'], ['Mitesh', 'Rohaan', 'John', 'James']])

In [48]:
stu_details.pop('Stu_id')

[1, 2, 3, 4]

In [50]:
a = stu_details.pop('NM')

In [53]:
stu_details['Country'] = stu_details.pop('Region')

In [54]:
stu_details

{'Name': ['Rahul', 'Rohaan', 'John', 'James'],
 'Country': ['S', 'N', 'E', 'NaN']}

In [58]:
stu_details.popitem()

('Name', ['Rahul', 'Rohaan', 'John', 'James'])

In [61]:
stu_details

{'Name': ['Rahul', 'Rohaan', 'John', 'James'],
 'Stu_id': [1, 2, 3, 4],
 'Region': ['S', 'N', 'E', 'NaN'],
 'NM': ['Mitesh', 'Rohaan', 'John', 'James']}

In [63]:
stu_details.setdefault('DOJ')

In [64]:
stu_details

{'Name': ['Rahul', 'Rohaan', 'John', 'James'],
 'Stu_id': [1, 2, 3, 4],
 'Region': ['S', 'N', 'E', 'NaN'],
 'NM': ['Mitesh', 'Rohaan', 'John', 'James'],
 'DOJ': None}

In [67]:
dict1 = {1:2, 3:4}
dict2 = {1:5, 7:8, 3:8}
dict1.update(dict2)

In [68]:
dict1

{1: 5, 3: 8, 7: 8}

Sets

In [69]:
cust_id = {1,1,1,2,3,4,4,5,6,6,6,7}

In [74]:
set((1,1,2,3,4,5,5))

{1, 2, 3, 4, 5}

In [72]:
cust_id[3]

TypeError: 'set' object is not subscriptable

In [75]:
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [77]:
list(cust_id)

[1, 2, 3, 4, 5, 6, 7]

In [78]:
{1,2,3,[4,5,5,6]}

TypeError: unhashable type: 'list'

In [88]:
cust_id.add(10)

In [90]:
cust_id

{1, 2, 3, 4, 5, 6, 7, 10}

In [81]:
a=set()

In [86]:
type(a)

set

In [83]:
c ={}

In [85]:
type(c)

dict

In [91]:
cust_id.add((10,20,20))

In [132]:
cust_id.discard((10,20,20))

In [131]:
cust_id.remove(1)

KeyError: 1

In [136]:
cust_id.pop()

3

In [139]:
cust_id.update([10,20,30,40,40])

In [152]:
set1 = {1,2,3,4}
set2 = {4,5,6}

In [151]:
set1.difference(set2)

{1, 2, 3}

In [144]:
set2.difference(set1)

{5, 6}

In [182]:
set1.difference_update(set2)

In [181]:
set1 = {1,2,3,4,5}
set2 = {5,6}

In [183]:
set1

{1, 2, 3, 4}

In [146]:
set1

{1, 2, 3}

In [153]:
set1

{1, 2, 3, 4}

In [154]:
set2

{4, 5, 6}

In [155]:
set1.intersection(set2)

{4}

In [156]:
set1.intersection_update(set2)

In [157]:
set1

{4}

In [158]:
set1 = {1,2,3,4,5,6,7}
set2 = {8,9}
set3 = {4,5}

In [159]:
set1.isdisjoint(set2)

True

In [160]:
set1.isdisjoint(set3)

False

In [161]:
set1.issubset(set2)

False

In [162]:
set3.issubset(set1)

True

In [163]:
set1.issuperset(set3)

True

In [164]:
s = {10,20,30,30,40}

In [165]:
fs = frozenset(s)

In [167]:
#Frozenset is immutable
#Sets are mutable

Range

In [169]:
list(range(0,10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [170]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [171]:
list(range(5,10))

[5, 6, 7, 8, 9]

In [172]:
list(range(5.5,10.5))

TypeError: 'float' object cannot be interpreted as an integer

In [173]:
list(range(0,20, 5))

[0, 5, 10, 15]

In [175]:
list(range(10,5,-1))

[10, 9, 8, 7, 6]

In [177]:
type(range(0,10))

range

NoneType

In [178]:
a = None

In [179]:
type(a)

NoneType

Operators in Python

In [188]:
#Arithmatic 
#Relational or Comparision
#Logical 
#Equality
#Assignment 
#Special

In [189]:
#Arithmatic Operators 
    #+ - Addition 
    #- - Subtraction
    #* - Multiplication
    #/ - Division - Result will always be float
    #% - Modulo
    #// - Floor Division - It will return either int or float. 
        #If the arguemet is int type then int else float
    #** - Power

In [191]:
a=10
b=3
print('a+b:', a+b)
print('a-b:', a-b)
print('a*b:', a*b)
print('a/b:', a/b)
print('a%b:', a%b)
print('a//b:', a//b)
print('a**b:', a**b)

a+b: 13
a-b: 7
a*b: 30
a/b: 3.3333333333333335
a%b: 1
a//b: 3
a**b: 1000

In [192]:
'Rahul' + 3

TypeError: can only concatenate str (not "int") to str

In [197]:
'Rahul'+ str(3)

'Rahul3'

In [198]:
#Relational Operator 
a = 10
b = 20
#>
#<
#>=
#<=
print('a<b:', a<b)
print('a<=b:', a<=b)
print('a>b:', a>b)
print('a>=b:', a>=b)

a<b: True
a<=b: True
a>b: False
a>=b: False

In [200]:
#Equality operator 
#==
#!=
a = 10
b = 10
a==b
a!=b

False

In [202]:
10 == int('10')

True

In [207]:
#Logical Operator 
#and -> If all the arguemnts are true then true 
#or -> Atleast one should true 
#not
True and True
True and False
True or True
True or False
not True

False

In [217]:
x = 0
y = 20
print(x and y)
print(y and x)
print(x or y)
print(y or x)
not x

0
0
20
20

True

In [211]:
int(False)

0

In [219]:
#Ternary Operator 
x = 30 if 10>20 else 40
x

40

In [221]:
a = int(input('Enter the first no'))
b = int(input('Enter the second no'))
c = int(input('Enter the Third no'))

x = a if a>b>c else b if b>c else c
print(x)

Enter the first no7
Enter the second no4
Enter the Third no5
5

In [222]:
a = int(input('Enter the first no'))
b = int(input('Enter the second no'))
c = int(input('Enter the Third no'))

x = a if a>=b and a>=c else b if b>=c else c
print(x)

Enter the first no7
Enter the second no4
Enter the Third no5
7

In [224]:
#Compound Assignment operator 
#+=
#-=
#*=
#/=
#%=
#//=
x = 100
x +=10
x
x-=20
x

90

In [225]:
#Special Operators 
    #Identity Operators
        #is
        #is not
    #Membership operators 
        #in 
        #not in

In [231]:
a = 10 
b = 10
print(id(a))
print(id(b))
print(a is b)

140733050495664
140733050495664
True

In [232]:
a=257
b =257
print(id(a))
print(id(b))
print(a is not b)

2693743199568
2693743199632
True

In [234]:
list1 = [10,20,30,40]
list2 = [10,20,30,40]
print(id(list1))
print(id(list2))
print(list1 is list2)
list1 ==list2

2693742972552
2693742933448
False

True

In [ ]:
a=10
a==b

In [235]:
a = 'Hello'
'l' in a

True

# Class 3 - Input and Output + Flow control

In [1]:
a = input('Enter your age')

Enter your age34

In [2]:
type(a)

str

In [3]:
a = int(input('Enter your age'))

Enter your age34

In [4]:
type(a)

int

In [6]:
a = input('Enter first number')
b = input('Enter second number')
i = int(a)
j = int(b)
print(i + j)

Enter first number34
Enter second number23
57

In [7]:
a = int(input('Enter the number'))
b = int(input('Enter the number'))
print(a+b)

Enter the number34
Enter the number23
57

In [8]:
a = input('Enter 5 numbers')

Enter 5 numbers23 43 55 65 43

In [10]:
type(a)

str

In [11]:
a = int(input('Enter 5 numbers'))

Enter 5 numbers23 24 32 33 23

ValueError: invalid literal for int() with base 10: '23 24 32 33 23'

In [16]:
a = input('Enter 5 numbers').split(':')

Enter 5 numbers23:43:33:23:43

In [14]:
type(a[0])

str

In [18]:
type(int(a[0]))

int

In [19]:
a

['23', '43', '33', '23', '43']

In [33]:
a = [int(x) for x in input('Enter 5 numbers').split()]

Enter 5 numbers23 43 55 43 55

In [22]:
type(a[0])

int

In [24]:
type(a[0])

int

In [39]:
a = [eval(x) for x in input('Enter the values').split()]
print(type(a[0]))
#print(type(a[1]))
#print(type(a[2]))
#print(type(a[3]))

Enter the valuesRahul
<class 'int'>

In [31]:
type(a[3])

str

In [37]:
Rahul = 10

In [40]:
sales =150.45

In [42]:
type(sales >100)

bool

In [43]:
'''The code is doing
adssdf sdsgds dfgdf dgdf 
dgd fgdfg
dfgdfg
dfg dfg
dfg
dfg
 dfgdf
 g'''

'The code is doing\nadssdf sdsgds dfgdf dgdf \ndgd fgdfg\ndfgdfg\ndfg dfg\ndfg\ndfg\n dfgdf\n g'

In [ ]:
#

In [44]:
#Output Statements 
print('Hello')
print()
print('Good Morning')

Hello

Good Morning

In [45]:
print('Hello \n all')

Hello
 all

In [46]:
print('Hello \t all')

Hello 	 all

In [47]:
a,b,c=10,20,30

In [48]:
print('The variables are:', a,b,c)

The variables are: 10 20 30

In [54]:
a= 10
b= 20
c= 30
print(a,b,c)
print(a,b,c, sep=',')
print(a,b,c, sep='$')
print(a)
print(b)
print(c)

10 20 30
10,20,30
10$20$30
10
20
30

In [55]:
print('Hello')
print('Students')
print('To learn Python')
print('You have to practice')

Hello
Students
To learn Python
You have to practice

In [56]:
print('Hello', 'Students', 'To learn Python', 'You have to practice')

Hello Students To learn Python You have to practice

In [57]:
print('Hello', end = ' ')
print('Students', end = ' ')
print('To learn Python', end = ' ')
print('You have to practice', end = ' ')

Hello Students To learn Python You have to practice

In [58]:
print(10,20,30,40,50,60, sep='-', end='--------')

10-20-30-40-50-60--------

In [59]:
name = 'Rahul'
salary = 10000
company = 'Deloitte'
print('Hello {}, your salary is {} and your current company is {}'.format(name, salary, company))

Hello Rahul, your salary is 10000 and your current company is Deloitte

In [60]:
name = 'Rahul'
salary = 10000
company = 'Deloitte'
print('Hello {}, your salary is {} and your current company is {}'.format(company, salary, name))

Hello Deloitte, your salary is 10000 and your current company is Rahul

In [61]:
name = 'Rahul'
salary = 10000
company = 'Deloitte'
print('Hello {2}, your salary is {1} and your current company is {0}'.format(company, salary, name))

Hello Rahul, your salary is 10000 and your current company is Deloitte

In [62]:
name = 'Rahul'
salary = 10000
company = 'Deloitte'
print('Hello {n}, your salary is {s} and your current company is {c}'.format(c=company, s=salary, n=name))

Hello Rahul, your salary is 10000 and your current company is Deloitte

In [63]:
print('{2}')

{2}

In [65]:
a = '{0}'
name = 'Rahul'
print('{} is {}'.format(a,name))

{0} is Rahul

In [67]:
#Flow control
    #if else 
    #for loop 
    #while loop
    #Break 
    #Continue

In [68]:
'''if condition:
    result1 
elif condtion:
    result3
elif condition:
    result4
    .
    .
    .
    .
else: 
    result2'''

'if condition:\n    result1 \nelif condtion:\n    result3\nelif condition:\n    result4\n    .\n    .\n    .\n    .\nelse: \n    result2'

In [75]:
marks = 61
if marks<36:
    print('You failed the exam')
elif marks>=36 and marks<=60:
    print('Your marks are average in the exam')
else:
    print('You passed the exam')

You passed the exam

In [83]:
name = input('Enter your name:')
if name=='Python':
    print('Hello', name, 'Good morning')
elif name =='R Programming':
    print('Hello', name, 'You are not in demand')
else:
    print('Hello', name, 'Welcome to Programming world')
print('How r y?')

Enter your name:Python
Hello Python Good morning
How r y?

In [85]:
x = int(input('Enter the first number'))
y = int(input('Enter the second number'))
if x>y:
    print(x, 'is bigger')
else:
    print(y, 'is bigger')

Enter the first number2
Enter the second number4
4 is bigger

In [87]:
x = int(input('Enter the number'))
if x%2 == 0:
    print('This is an even number')
else:
    print('This is an odd number')

Enter the number12
This is an even number

In [96]:
#For loop
s = 'This is python class'

#for condition:
#    statement1
#    statement2
#statement3
count = 0
for i in s:
    print(i, end=' ')
    count = count + 1
    print(count,end = ' ')

T 1 h 2 i 3 s 4   5 i 6 s 7   8 p 9 y 10 t 11 h 12 o 13 n 14   15 c 16 l 17 a 18 s 19 s 20

In [97]:
sales = [3243,4433,2344,3433]
profit = [432,233,233,433]

In [105]:
profitratio = []
for i in range(0,len(sales)):
    profitratio.append(profit[i]/sales[i])
profitratio

[0.1332099907493062,
 0.05256034288292353,
 0.09940273037542662,
 0.12612875036411303]

In [107]:
a = 'Edureka'
for i  in a:
    print(i)

E
d
u
r
e
k
a

In [ ]:
while condition:
    statement1
    statement2
statement3

In [108]:
coupoun = 5
utilized = 0
while utilized<=5:
    print('Total coupouns left are:', coupoun-utilized)
    utilized=utilized+1
print('No coupouns left')

Total coupouns left are: 5
Total coupouns left are: 4
Total coupouns left are: 3
Total coupouns left are: 2
Total coupouns left are: 1
Total coupouns left are: 0
No coupouns left

In [109]:
#while True:
#    print('Hi')

In [110]:
list1 = ['A','B','C']
for i in list1:
    print('Hi',i)

Hi A
Hi B
Hi C

# Class 4 - Functions

In [1]:
#Why functions are required? 
    #When we are writing multiple lines of a code (multiple times) then obviously 
        #my code length will increase 
    #We will write functions for those lines 
    #Code reusability is the biggest advantage

In [6]:
def greeting():
    '''This function os wishing good morning'''
    print('Good Morning')
greeting()

Good Morning

In [11]:
def greeting(name='Guest'):
    print('Hello', name, 'Good Morning')
greeting('Hussain')

Hello Hussain Good Morning

In [13]:
def square(x):
    print(x*x)
square(10)

100

In [17]:
def add(a,b):
    print(a+b)
z = add(10,5)

15

In [44]:
add(10)

TypeError: add() missing 1 required positional argument: 'b'

In [19]:
type(z)

NoneType

In [26]:
def add(a,b):
    return a+b
z = add(10,5)

In [28]:
type(z)

int

In [31]:
def evenodd(n):
    if n%2==0:
        print('The number is even', n)
    else:
        print('The number is odd', n)
evenodd(10)
evenodd(11)

The number is even 10
The number is odd 11

In [33]:
def evenodd(n):
    if n%2==0:
        return 'The number is even'
    else:
        return 'The number is odd'
evenodd(10)
z=evenodd(11)

In [34]:
z

'The number is odd'

In [38]:
def fact(n):
    result = 1
    while n>=1:
        result = result * n
        n = n-1 
    return result  
for i in range(1,10):
    print(fact(i))

1
2
6
24
120
720
5040
40320
362880

In [41]:
def calc(a,b):
    sum = a+b
    sub = a-b
    mul = a*b
    div = a/b
    return sum, sub, mul, div

calc(10,4)

(14, 6, 40, 2.5)

In [42]:
def calc(a,b):
    sum = a+b
    sub = a-b
    mul = a*b
    div = a/b
    return {'Sum of a+b':sum, 'Sub of a-b':sub, 'Mul of a*b':mul, 'Div of a/b':div}

calc(10,4)

{'Sum of a+b': 14, 'Sub of a-b': 6, 'Mul of a*b': 40, 'Div of a/b': 2.5}

In [43]:
#Different types of arguements 
    #1. Positional Arguement
    #2. Keyword Arguement
    #3. Default Arguement
    #4. Variable length Arguement

In [49]:
def sum(a,b):
    print(a+b)
    
sum(10,2,3)

TypeError: sum() takes 2 positional arguments but 3 were given

In [51]:
def intro(name, company):
    print('Hello', name, 'your company is ', company)
intro('Deloitte', 'Rahul')

Hello Deloitte your company is  Rahul

In [55]:
#Keyword Arguement 
def greeting(name,msg):
    print('Hello', name, msg)
greeting('Purushotham', 'Good morning')
greeting(msg='Good morning',name='Purushotham')

Hello Purushotham Good morning
Hello Purushotham Good morning

In [58]:
#Default Arguement 
def greeting(name='Guest'):
    print('Hello', name, 'Good Morning')
greeting('Rohaan')

Hello Rohaan Good Morning

In [61]:
#Default Arguement 
def greeting(company, age, name='Guest'):
    print('Hello', name, 'Good Morning', 'your company name is', company, 'your age is', age)
greeting('Deloitte', 34, 'Rohaan')

Hello Rohaan Good Morning your company name is Deloitte your age is 34

In [62]:
#Default Arguement 
def greeting(name='Guest',company, age):
    print('Hello', name, 'Good Morning', 'your company name is', company, 'your age is', age)
greeting('Deloitte', 34, 'Rohaan')

SyntaxError: non-default argument follows default argument (<ipython-input-62-03722d7c0a6b>, line 2)

In [68]:
def greeting(marks, age, name='Guest', msg='Good morning'):
    print('Student name:', name)
    print('Student Age:', age)
    print('Student marks:', marks)
    print('Student msg:', msg)
#greeting(100,20)   
#greeting(age=48,marks=100)   
#greeting(48,marks = 100)

In [77]:
#Variable Length Arguement 
def sum(a,b):
    print(a+b)
sum(10,2)

def sum(a,b,c):
    print(a+b+c)
sum(10,2,3)

def sum(*a): #tuple (10,2,3,4,3,2,3,4)
    result = 0 
    for i in a:
        result = result + i
    print(result)
sum(10,2,3)

12
15
15

In [78]:
#Types of variables in function 
    #Global Variable
    #Local Variable

In [79]:
a = 10
def f1():
    print('F1', a)
f1()

def f2():
    print('F2',a)
f2()

F1 10
F2 10

In [81]:
p=200
def f1():
    p = 20
    print('F1', p)
f1()

def f2():
    print('F2', p)
f2()

F1 20
F2 200

In [82]:
p=200
def f1():
    global p
    p = 20
    print('F1', p)
f1()

def f2():
    print('F2', p)
f2()

F1 20
F2 20

In [83]:
q=200
def f1():

    print('F1', q)
f1()

def f2():
    global q
    q = 20
    print('F2', q)
f2()

def f1():

    print('F1', q)
f1()

F1 200
F2 20
F1 20

In [84]:
def f2():
    global r
    r = 20
    print('F2', r)
f2()

def f1():

    print('F1', r)
f1()

F2 20
F1 20

In [85]:
#Lambda Function - Anonymous Function - Without name - Nameless function 
def square(n):
    return n*n
square(4)

16

In [87]:
sq1 = lambda n : n*n

In [89]:
sq1(4)

16

In [91]:
sum1 = lambda a,b : a+b

In [92]:
sum1(10,2)

12

In [96]:
noc = lambda a,b : a if a>=b else b

In [97]:
noc(10,10)

10

In [98]:
#filter()
filter(func, list)
#map()
#reduce()

In [101]:
def iseven(x):
    if x%2 ==0:
        return True
    else:
        False
l = [32,33,445,43,44,32,112,22,11]
list(filter(iseven,l))

[32, 44, 32, 112, 22]

In [103]:
list(filter(lambda x : x%2==0, l))

[32, 44, 32, 112, 22]

In [105]:
def double(x):
    return 2*x
l = [32,33,445,43,44,32,112,22,11]
list(map(double,l))

[64, 66, 890, 86, 88, 64, 224, 44, 22]

In [106]:
double(l)

[32, 33, 445, 43, 44, 32, 112, 22, 11, 32, 33, 445, 43, 44, 32, 112, 22, 11]

In [108]:
list(map(lambda x : x*2, l))

[64, 66, 890, 86, 88, 64, 224, 44, 22]

In [109]:
list1 = [1,2,3,4,5]
list2 = [5,4,3,2,1]
list(map(lambda x,y : x * y, list1, list2))

[5, 8, 9, 8, 5]

In [ ]:
map(func, l)
filter(func, l)

In [111]:
from functools import *
list1 = [10,20,30,40,50,60]
reduce(lambda x,y : x + y, list1)

210

In [112]:
#Nested Function
def outer():
    print('Outer function is runing')
    def inner():
        print('Inner function is running')
    inner()
outer()

Outer function is runing
Inner function is running

In [114]:
list1 = [1,2,3,4,5]
def double(l):
    for i in l:
        print(2*i)
double(list1)

2
4
6
8
10

# Class 5 - Python String Operations

In [5]:
city = input('Enter the city name')
list1 = ['Mumbai', 'Pune','Bengaluru','Chennai']
if city in list1:
    print('Your city is available')
else:
    print('Your city is not available')

Enter the city nameMumbai
Your city is not available

In [7]:
city = input('Enter the city name')
list1 = ['Mumbai', 'Pune','Bengaluru','Chennai']
if city.lstrip() in list1:
    print('Your city is available')
else:
    print('Your city is not available')

Enter the city nameMumbai
Your city is not available

In [9]:
city = input('Enter the city name')
list1 = ['Mumbai', 'Pune','Bengaluru','Chennai']
if city.rstrip() in list1:
    print('Your city is available')
else:
    print('Your city is not available')

Enter the city name Mumbai
Your city is not available

In [13]:
city = input('Enter the city name')
list1 = ['Mumbai', 'Pune','Bengaluru','Chennai']
if city.strip() in list1:
    print('Your city is available')
else:
    print('Your city is not available')

Enter the city name               Mumbai
Your city is available

In [15]:
city = input('Enter the city name')
list1 = ['Mumbai', 'Pune','Bengaluru','Chennai']
if city.strip('$') in list1:
    print('Your city is available')
else:
    print('Your city is not available')

Enter the city nameMum$bai
Your city is not available

In [24]:
s = 'RahulTiwariRahulTiwari'
print(s.find('Roohan'))
print(s.find('Tiwari'))
print(s.find('Tiwari', 7,22))
#If the value is not present it will return -1 (This is not reverse index)
#If the value is present it will give the 1st iteration of that value from left to right
print(s.rfind('Tiwari'))
#rfind is reverse find giving the index from Right to left
print(s.rfind('Tiwari', 7,22))

-1
5
16
16
16

In [27]:
#All the occurances of the value in the string rahullllllluull
s = input('Enter the main string')
sub = input('What you are looking for?')
flag = False
pos = -1
n = len(s)
while True:
    pos = s.find(sub, pos+1, n)
    if pos==-1:
        break
    print('Found at index:', pos)
    flag = True
if flag == False:
    print('Not Found')

Enter the main stringrahullll
What you are looking for?l
Found at index: 4
Found at index: 5
Found at index: 6
Found at index: 7

In [29]:
#All the occurances of the value in the string rahullllllluull
s = input('Enter the main string')
sub = input('What you are looking for?')
flag = False
pos = -1
n = len(s)
count = 0
while True:
    pos = s.find(sub, pos+1, n)
    if pos==-1:
        break
    print('Found at index:', pos)
    flag = True
    count = count + 1
if flag == False:
    print('Not Found')
print(count)

Enter the main stringrahullll
What you are looking for?l
Found at index: 4
Found at index: 5
Found at index: 6
Found at index: 7
4

In [32]:
s = 'rahultiwarirahultiwari'
print(s.count('rahul'))
print(s.count('Rahul'))
print(s.count('rahul',7,22))

2
0
1

In [33]:
s = 'rahultiwarirahultiwari'
s.replace('rahul','atharv')

'atharvtiwariatharvtiwari'

In [36]:
s = 'rahul$tiwari$atharv'
list = s.split('$')
list

['rahul', 'tiwari', 'atharv']

In [37]:
s = 'Rahul-Tiwari-Python-Edureka-Morning-Batch-7AM'
list1 = s.split('-',3)
list1

['Rahul', 'Tiwari', 'Python', 'Edureka-Morning-Batch-7AM']

In [42]:
l = ['Rahul','Tiwari','Atharv']
s = '$'.join(l)
type(s)
s

'Rahul$Tiwari$Atharv'

In [43]:
s = 'Rahul Tiwari is a Data Scientist'
print(s.upper())
print(s.lower())
print(s.swapcase())
print(s.title())
print(s.capitalize())

RAHUL TIWARI IS A DATA SCIENTIST
rahul tiwari is a data scientist
rAHUL tIWARI IS A dATA sCIENTIST
Rahul Tiwari Is A Data Scientist
Rahul tiwari is a data scientist

In [45]:
s = 'Learning Python is very easy'
print(s.startswith('Learn'))
print(s.endswith('easy'))

True
True

In [ ]:
#Type of character present in the string
isalnum()
isalpha()
isdigit()
islower()
isupper()
istitle()
isspace()

In [55]:
print('Rahul'.isalnum())
print('$$$$$'.isalnum())
print('123'.isdigit())
print('rahul'.islower())
print('rahul'.isupper())
print('Rahul'.istitle())
print('rahul tiwari'.isspace())
print('        '.isspace())

True
False
True
True
False
True
False
True

In [60]:
s = input('Enter the string')
if s.isalnum():
    print('Alpha Numeric Character')
    if s.isalpha():
        print('Alphabets present only')
        if s.islower():
            print('Lower Case')
        elif s.isupper():
            print('Upper Case')
        else:
            print('Title Case')
    else:
        print('It is a digit')
elif s.isspace():
    print('It is a space')
else:
    print('Looks like special character')

Enter the string$$$$$$
Looks like special character

In [63]:
s = input('Enter the string')
s[::-1]

Enter the stringedureka

'akerude'

In [67]:
s = input('Enter the string')
reversed(s)
for x in reversed(s):
    print(x, end='')

Enter the stringedureka
akerude

In [68]:
s = input('Enter the string')
print(''.join(reversed(s)))

Enter the stringedureka
akerude

In [70]:
s = input('Enter the string')
i = len(s) - 1
print(i)
output=''
while i>=0:
    output = output+s[i]
    i = i - 1
print(output)

Enter the stringedureka
6
akerude

In [72]:
s = input('Enter the string')
list = s.split()
print(list)
l1 = []
i = len(list) - 1
while i >=0:
    l1.append(list[i])
    i = i - 1
print(l1)
output = ' '.join(l1)
print(output)

Enter the stringEdureka is good for Python
['Edureka', 'is', 'good', 'for', 'Python']
['Python', 'for', 'good', 'is', 'Edureka']
Python for good is Edureka

In [73]:
s = input('Enter the string')
l = s.split()
l1 = []
for x in l:
    l1.append(x[::-1])
print(l1)
output = ' '.join(l1)
print(output)

Enter the stringabc xyz
['cba', 'zyx']
cba zyx

In [75]:
a = 'Edureka'
a[::-1]

'akerudE'

In [74]:
#Homework1: 
#edureka
#0123456
    #even index characters
        #euea
    #Odd index characters
        #drk
        
#Homework2: 
#s1: John
#s2: Jame
#JJoahmne

#Homework3:
#input: B4A1D3
#Output: ABD134

#Homework4:
#input: a4b3c2
#Output: aaaabbbcc

# Class 6 - Regular Expressions

In [1]:
import re

In [5]:
import re
count = 0
pattern = re.compile('cd')
matcher = pattern.finditer('cdcdcccdcdcccdcdcdcdccd')
matcher
for match in matcher:
    count = count+1
    print('Match is avaiable at the start index:', match.start(),'....', match.end(), '....', match.group())
print('The total occurances are:', count)

Match is avaiable at the start index: 0 .... 2 .... cd
Match is avaiable at the start index: 2 .... 4 .... cd
Match is avaiable at the start index: 6 .... 8 .... cd
Match is avaiable at the start index: 8 .... 10 .... cd
Match is avaiable at the start index: 12 .... 14 .... cd
Match is avaiable at the start index: 14 .... 16 .... cd
Match is avaiable at the start index: 16 .... 18 .... cd
Match is avaiable at the start index: 18 .... 20 .... cd
Match is avaiable at the start index: 21 .... 23 .... cd
The total occurances are: 9

In [22]:
#[abc] -> either a or b or c
#[^abc] -> except a and b and c
#[a-z] -> All the small letter
#[A-Z] -> All the upper letter
#[a-zA-Z] -> All the characters small and upper letter
#[0-9] -> All the digits
#[a-zA-Z0-9] -> All the small and upper letter and digits
#[^a-zA-Z0-9] -> Except characters that is small and upper and except digits

In [9]:
import re 
matcher = re.finditer('[acx]', 'a7b@kc9zx')
for m in matcher:
    print(m.start(), '....', m.end(), '....', m.group())

0 .... 1 .... a
5 .... 6 .... c
8 .... 9 .... x

In [10]:
import re 
matcher = re.finditer('[^acx]', 'a7b@kc9zx')
for m in matcher:
    print(m.start(), '....', m.end(), '....', m.group())

1 .... 2 .... 7
2 .... 3 .... b
3 .... 4 .... @
4 .... 5 .... k
6 .... 7 .... 9
7 .... 8 .... z

In [11]:
import re 
matcher = re.finditer('[a-z]', 'a7b@kc9zx')
for m in matcher:
    print(m.start(), '....', m.end(), '....', m.group())

0 .... 1 .... a
2 .... 3 .... b
4 .... 5 .... k
5 .... 6 .... c
7 .... 8 .... z
8 .... 9 .... x

In [14]:
import re 
matcher = re.finditer('[A-Z]', 'Aa7b@kc9zx')
for m in matcher:
    print(m.start(), '....', m.end(), '....', m.group())

0 .... 1 .... A

In [15]:
import re 
matcher = re.finditer('[a-zA-Z]', 'Aa7b@kc9zx')
for m in matcher:
    print(m.start(), '....', m.end(), '....', m.group())

0 .... 1 .... A
1 .... 2 .... a
3 .... 4 .... b
5 .... 6 .... k
6 .... 7 .... c
8 .... 9 .... z
9 .... 10 .... x

In [17]:
import re 
matcher = re.finditer('[0-9]', 'Aa7b@kc9zx')
for m in matcher:
    print(m.start(), '....', m.end(), '....', m.group())

2 .... 3 .... 7
7 .... 8 .... 9

In [19]:
import re 
matcher = re.finditer('[a-zA-Z0-9]', 'Aa7b@kc9zx')
for m in matcher:
    print(m.start(), '....', m.end(), '....', m.group())

0 .... 1 .... A
1 .... 2 .... a
2 .... 3 .... 7
3 .... 4 .... b
5 .... 6 .... k
6 .... 7 .... c
7 .... 8 .... 9
8 .... 9 .... z
9 .... 10 .... x

In [21]:
import re 
matcher = re.finditer('[^a-zA-Z0-9]', 'Aa7b@kc9zx')
for m in matcher:
    print(m.start(), '....', m.end(), '....', m.group())

4 .... 5 .... @

In [33]:
#Predefined Character classes 
#\s -seach for space
#\S - Except space character
#\d - Any digit
#\D - Except Digits
#\w - Any alphabets (Alphanumeric)
#\W - Any character except alphanumeric (special character)
#. - Every character

In [23]:
import re 
matcher = re.finditer('\s', 'Aa7b @kc9 zx')
for m in matcher:
    print(m.start(), '....', m.end(), '....', m.group())

4 .... 5 ....
9 .... 10 ....

In [24]:
import re 
matcher = re.finditer('\S', 'Aa7b @kc9 zx')
for m in matcher:
    print(m.start(), '....', m.end(), '....', m.group())

0 .... 1 .... A
1 .... 2 .... a
2 .... 3 .... 7
3 .... 4 .... b
5 .... 6 .... @
6 .... 7 .... k
7 .... 8 .... c
8 .... 9 .... 9
10 .... 11 .... z
11 .... 12 .... x

In [26]:
import re 
matcher = re.finditer('\d', 'Aa7b @kc9 zx')
for m in matcher:
    print(m.start(), '....', m.end(), '....', m.group())

2 .... 3 .... 7
8 .... 9 .... 9

In [28]:
import re 
matcher = re.finditer('\D', 'Aa7b @kc9 zx')
for m in matcher:
    print(m.start(), '....', m.end(), '....', m.group())

0 .... 1 .... A
1 .... 2 .... a
3 .... 4 .... b
4 .... 5 ....
5 .... 6 .... @
6 .... 7 .... k
7 .... 8 .... c
9 .... 10 ....
10 .... 11 .... z
11 .... 12 .... x

In [30]:
import re 
matcher = re.finditer('\w', 'Aa7b @kc9 zx')
for m in matcher:
    print(m.start(), '....', m.end(), '....', m.group())

0 .... 1 .... A
1 .... 2 .... a
2 .... 3 .... 7
3 .... 4 .... b
6 .... 7 .... k
7 .... 8 .... c
8 .... 9 .... 9
10 .... 11 .... z
11 .... 12 .... x

In [32]:
import re 
matcher = re.finditer('\W', 'Aa7b @kc9 zx')
for m in matcher:
    print(m.start(), '....', m.end(), '....', m.group())

4 .... 5 ....
5 .... 6 .... @
9 .... 10 ....

In [34]:
import re 
matcher = re.finditer('.', 'Aa7b @kc9 zx')
for m in matcher:
    print(m.start(), '....', m.end(), '....', m.group())

0 .... 1 .... A
1 .... 2 .... a
2 .... 3 .... 7
3 .... 4 .... b
4 .... 5 ....
5 .... 6 .... @
6 .... 7 .... k
7 .... 8 .... c
8 .... 9 .... 9
9 .... 10 ....
10 .... 11 .... z
11 .... 12 .... x

In [35]:
import re 
matcher = re.finditer('c', 'cdccdcccd')
for m in matcher:
    print(m.start(), '....',m.end(),'....',m.group())

0 .... 1 .... c
2 .... 3 .... c
3 .... 4 .... c
5 .... 6 .... c
6 .... 7 .... c
7 .... 8 .... c

In [37]:
import re 
matcher = re.finditer('c+', 'cdccdcccd')
for m in matcher:
    print(m.start(), '....',m.end(),'....',m.group())
#atleast 1 c or any number of continous c's in this example

0 .... 1 .... c
2 .... 4 .... cc
5 .... 8 .... ccc

In [39]:
import re 
matcher = re.finditer('c*', 'cdccdcccd')
for m in matcher:
    print(m.start(), '....',m.end(),'....',m.group())
#Any number of c's including 0

0 .... 1 .... c
1 .... 1 ....
2 .... 4 .... cc
4 .... 4 ....
5 .... 8 .... ccc
8 .... 8 ....
9 .... 9 ....

In [41]:
import re 
matcher = re.finditer('c?', 'cdccdcccd')
for m in matcher:
    print(m.start(), '....',m.end(),'....',m.group())
#Atmost one c

0 .... 1 .... c
1 .... 1 ....
2 .... 3 .... c
3 .... 4 .... c
4 .... 4 ....
5 .... 6 .... c
6 .... 7 .... c
7 .... 8 .... c
8 .... 8 ....
9 .... 9 ....

In [44]:
import re 
matcher = re.finditer('c{3}', 'cdccdcccd')
for m in matcher:
    print(m.start(), '....',m.end(),'....',m.group())
#Exactly c{n}, n number of c's in this example n is 3

5 .... 8 .... ccc

In [45]:
import re 
matcher = re.finditer('c{2,3}', 'cdccdcccd')
for m in matcher:
    print(m.start(), '....',m.end(),'....',m.group())
##Exactly c{n,m}, n or m number of c's in this example n is 2,3

2 .... 4 .... cc
5 .... 8 .... ccc

In [46]:
import re 
matcher = re.finditer('[^c]', 'cdccdcccd')
for m in matcher:
    print(m.start(), '....',m.end(),'....',m.group())
##Except c

1 .... 2 .... d
4 .... 5 .... d
8 .... 9 .... d

In [49]:
import re 
matcher = re.finditer('^c', 'cdccdcccd')
for m in matcher:
    print(m.start(), '....',m.end(),'....',m.group())
#Whether it is starting with c or not

0 .... 1 .... c

In [52]:
import re 
matcher = re.finditer('d$', 'cdccdcccd')
for m in matcher:
    print(m.start(), '....',m.end(),'....',m.group())
#Whether it is ending with d or not

8 .... 9 .... d

In [53]:
#Important functions in RE Module
#finditer()
#compile()
#match()
#fullmatch()
#search()
#findall()
#sub()
#subn()
#split()

In [62]:
import re
s = input('Enter the sting you looking for')
m = re.match(s, 'adfgredgyrt65gtdf')
if m!=None:
    print('Match is available')
else:
    print('Match is not available')

Enter the sting you looking ford
Match is not available

In [64]:
type(m)

NoneType

In [67]:
import re
s = input('Enter the sting you looking for')
m = re.fullmatch(s, 'adfgredgyrt65gtdf')
if m!=None:
    print('Match is available')
else:
    print('Match is not available')

Enter the sting you looking foradfgredgyrt65gtdf
Match is available

In [69]:
import re
s = input('Enter the sting you looking for')
m = re.search(s, 'cdccdcccdcccd')
if m!=None:
    print('Match is available')
    print(m.start(),'....',m.end())
else:
    print('Match is not available')

Enter the sting you looking forc
Match is available
0 .... 1

In [71]:
import re
s = input('Enter the sting you looking for')
m = re.findall(s, 'cdccdcccdcccd')
print(m)

Enter the sting you looking forccc
['ccc', 'ccc']

In [73]:
import re
m = re.findall('[0-9]', 'a67ytyu89iu4$')
print(m)

['6', '7', '8', '9', '4']

In [79]:
import re
matcher = re.finditer('cd','cdecdcccdcdcd')
for m in matcher:
    print(m.start(),'....',m.end(),'....',m.group())

0 .... 2 .... cd
3 .... 5 .... cd
7 .... 9 .... cd
9 .... 11 .... cd
11 .... 13 .... cd

In [75]:
import re
l = re.findall('\W', 'a7# $trg $fhgf &fvvv')
print(l)

['#', ' ', '$', ' ', '$', ' ', '&']

In [80]:
import re
l = re.findall('\w', 'a7# $trg $fhgf &fvvv')
print(l)

['a', '7', 't', 'r', 'g', 'f', 'h', 'g', 'f', 'f', 'v', 'v', 'v']

In [82]:
import re 
s = re.sub('\d', '#','a7# $trg $fhgf &fvvv657')
print(s)

a## $trg $fhgf &fvvv###

In [86]:
import re 
s = re.subn('\d', '#','a7# $trg $fhgf &fvvv657')
print(s)
print(s[0])
print(s[1])

('a## $trg $fhgf &fvvv###', 4)
a## $trg $fhgf &fvvv###
4

In [87]:
import re
l = re.split('-', '10-20-30-40-50-60-70')
print(l)

['10', '20', '30', '40', '50', '60', '70']

In [88]:
import re 
l = re.split('.', 'www.rahultiwari.co')
print(l)

['', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '']

In [89]:
import re 
l = re.split('\.', 'www.rahultiwari.co')
print(l)

['www', 'rahultiwari', 'co']

In [90]:
import re 
l = re.split('[.]', 'www.rahultiwari.co')
print(l)

['www', 'rahultiwari', 'co']

In [93]:
import re
s = 'Learning Python is very easy'
res = re.search('^Learn',s)
if res !=None:
    print('Target string starts with Learn')
else:
    print('Target string does not starts with learn')

Target string starts with Learn

In [96]:
import re
s = 'Learning Python is very easy'
res = re.search('easy$',s)
if res !=None:
    print('Target string ends with easy')
else:
    print('Target string does not ends with easy')

Target string ends with easy

In [97]:
import re
s = 'Learning Python is very easy'
res = re.search('Easy$',s, re.IGNORECASE)
if res !=None:
    print('Target string ends with easy')
else:
    print('Target string does not ends with easy')

Target string ends with easy

In [102]:
#New Programming Language - Rython - Identifers 
#1. The allowable characters should be 
    #a. Alphabets (A-Z,a-z)
    #b. Digits (0-9)
    #c. #
#2. First character should be lower case alphabet between [a-k]
#3. The second character should be any digit divisible by 3 [0369]
#4. The length of the identifier should be atleast 2
#[a-k][0369][a-zA-Z0-9#]*

In [105]:
import re 
s = input('Enter the identifier to validate')
m = re.fullmatch('[a-k][0369][a-zA-Z0-9#]*', s)
if m!=None:
    print(s, 'is the valid identifier')
else:
    print(s, 'is an invalid identifier')

Enter the identifier to validatea3
a3 is the valid identifier

In [ ]:
#10 Digit phone number
[6789][0-9]*
[6789][0-9]+
[6789][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]
[6789][0-9]{9}
[6-9]\d{9}

In [1]:
import re 
s = input('Enter the mobile number')
m = re.fullmatch('[6-9]\d{9}', s)
if m!=None:
    print(s, 'is a valid phone number')
else:
    print(s, 'is invalid phone number')

Enter the mobile number6543454443
6543454443 is a valid phone number

In [ ]:
10 - without country code 
11 - 0
12 - 91
13 - +91

In [4]:
import re , urllib.request
sites = ['http://www.google.com','http://www.rediff.com']
for s in sites:
    print('searching in ', s)
    u = urllib.request.urlopen(s)
    text = u.read()
    title = re.findall('<title>.*</title>', str(text), re.IGNORECASE)
    print(title[0])

searching in  http://www.google.com
<title>Google</title>
searching in  http://www.rediff.com
<title>Rediff.com: News | Rediffmail | Stock Quotes | Shopping</title>

In [5]:
import re 
import urllib.request
url = 'https://www.summet.com/dmsi/html/codesamples/addresses.html'
response = urllib.request.urlopen(url)
data = response.read()
data_str = data.decode()
pdata = re.findall('\(\d{3}\) \d{3}-\d{4}', data_str)
for i in pdata:
    print(i)

(257) 563-7401
(372) 587-2335
(786) 713-8616
(793) 151-6230
(492) 709-6392
(654) 393-5734
(404) 960-3807
(314) 244-6306
(947) 278-5929
(684) 579-1879
(389) 737-2852
(660) 663-4518
(608) 265-2215
(959) 119-8364
(468) 353-2641
(248) 675-4007
(939) 353-1107
(570) 873-7090
(302) 259-2375
(717) 450-4729
(453) 391-4650
(559) 104-5475
(387) 142-9434
(516) 745-4496
(326) 677-3419
(746) 679-2470
(455) 430-0989
(490) 936-4694
(985) 834-8285
(662) 661-1446
(802) 668-8240
(477) 768-9247
(791) 239-9057
(832) 109-0213
(837) 196-3274
(268) 442-2428
(850) 676-5117
(861) 546-5032
(176) 805-4108
(715) 912-6931
(993) 554-0563
(357) 616-5411
(121) 347-0086
(304) 506-6314
(425) 288-2332
(145) 987-4962
(187) 582-9707
(750) 558-3965
(492) 467-3131
(774) 914-2510
(888) 106-8550
(539) 567-3573
(693) 337-2849
(545) 604-9386
(221) 156-5026
(414) 876-0865
(932) 726-8645
(726) 710-9826
(622) 594-1662
(948) 600-8503
(605) 900-7508
(716) 977-5775
(368) 239-8275
(725) 342-0650
(711) 993-5187
(882) 399-5084
(287) 755-9948
(659) 551-3389
(275) 730-6868
(725) 757-4047
(314) 882-1496
(639) 360-7590
(168) 222-1592
(896) 303-1164
(203) 982-6130
(906) 217-1470
(614) 514-1269
(763) 409-5446
(836) 292-5324
(926) 709-3295
(963) 356-9268
(736) 522-8584
(410) 483-0352
(252) 204-1434
(874) 886-4174
(581) 379-7573
(983) 632-8597
(295) 983-3476
(873) 392-8802
(360) 669-3923
(840) 987-9449
(422) 517-6053
(126) 940-2753
(427) 930-5255
(689) 721-5145
(676) 334-2174
(437) 994-5270
(564) 908-6970
(577) 333-6244
(655) 840-6139

In [8]:
import re 
s = input('Enter your email address')
m = re.fullmatch(('[a-zA-Z0-9_.]*@gmail[.]com'),s)
if m !=None:
    print('Valid email id')
else:
    print('Invalid email id')

Enter your email addressrahul@.comgmail
Invalid email id

In [11]:
import re 
s = input('Enter your email address')
m = re.fullmatch(('[a-zA-Z0-9_.]*@[a-zA-Z0-9]*[.][a-zA-Z]*'),s)
if m !=None:
    print('Valid email id')
else:
    print('Invalid email id')

Enter your email addressrahul@edureka.co
Valid email id

In [14]:
import re 
s = input('Enter your email address')
m = re.fullmatch(('[a-zA-Z0-9_.]*@(gmail|rediffmail)[.][a-zA-Z]*'),s)
if m !=None:
    print('Valid email id')
else:
    print('Invalid email id')

Enter your email addressrahul@rediffmail.com
Valid email id