In [3]:
import pandas as pd
df = pd.read_clipboard()

In [4]:
df

        State  Age  Salary Purchase
0  California   21   21000       No
1       Texas   25   25000       No
2     Arizona   23   25000      Yes
3        Utah   33   30000      Yes
4  California   45   35000      Yes
5  California   25   23000       No

In [11]:
from sklearn.preprocessing import StandardScaler
sc_x = StandardScaler()
x_std = df.iloc[:,1:3].values
x_std = sc_x.fit_transform(x_std)
x_std

array([[-0.93508297, -1.17483111],
       [-0.4472136 , -0.32040848],
       [-0.69114828, -0.32040848],
       [ 0.52852516,  0.7476198 ],
       [ 1.99213329,  1.81564808],
       [-0.4472136 , -0.7476198 ]])

In [12]:
from sklearn.preprocessing import MinMaxScaler
mm_x = MinMaxScaler()
x_mm = df.iloc[:,1:3].values
x_mm = mm_x.fit_transform(x_mm)
x_mm

array([[0.        , 0.        ],
       [0.16666667, 0.28571429],
       [0.08333333, 0.28571429],
       [0.5       , 0.64285714],
       [1.        , 1.        ],
       [0.16666667, 0.14285714]])

In [13]:
from sklearn.preprocessing import RobustScaler
rb_x = RobustScaler()
x_rb = df.iloc[:,1:3].values
x_rb = rb_x.fit_transform(x_rb)
x_rb

array([[-0.53333333, -0.76190476],
       [ 0.        ,  0.        ],
       [-0.26666667,  0.        ],
       [ 1.06666667,  0.95238095],
       [ 2.66666667,  1.9047619 ],
       [ 0.        , -0.38095238]])

In [14]:
from sklearn.preprocessing import MaxAbsScaler
ma_x = MaxAbsScaler()
x_ma = df.iloc[:,1:3].values
x_ma = ma_x.fit_transform(x_ma)
x_ma

array([[0.46666667, 0.6       ],
       [0.55555556, 0.71428571],
       [0.51111111, 0.71428571],
       [0.73333333, 0.85714286],
       [1.        , 1.        ],
       [0.55555556, 0.65714286]])

In [16]:
from sklearn.preprocessing import Normalizer
nm_x = Normalizer(norm='max')
x_nm = df.iloc[:,1:3].values
x_nm = nm_x.fit_transform(x_nm)
pd.DataFrame(x_nm)

          0    1
0  0.001000  1.0
1  0.001000  1.0
2  0.000920  1.0
3  0.001100  1.0
4  0.001286  1.0
5  0.001087  1.0

In [20]:
from sklearn.preprocessing import Normalizer
nm_x = Normalizer(norm='l1')
x_nm = df.iloc[:,1:3].values
x_nm = nm_x.fit_transform(x_nm)
pd.DataFrame(x_nm)

          0         1
0  0.000999  0.999001
1  0.000999  0.999001
2  0.000919  0.999081
3  0.001099  0.998901
4  0.001284  0.998716
5  0.001086  0.998914

In [24]:
df

        State  Age  Salary Purchase
0  California   21   21000       No
1       Texas   25   25000       No
2     Arizona   23   25000      Yes
3        Utah   33   30000      Yes
4  California   45   35000      Yes
5  California   25   23000       No

In [22]:
21000/(21+21000)

0.999000999000999

In [25]:
from sklearn.preprocessing import Normalizer
nm_x = Normalizer(norm='l2')
x_nm = df.iloc[:,1:3].values
x_nm = nm_x.fit_transform(x_nm)
pd.DataFrame(x_nm)

          0         1
0  0.001000  1.000000
1  0.001000  1.000000
2  0.000920  1.000000
3  0.001100  0.999999
4  0.001286  0.999999
5  0.001087  0.999999

In [26]:
from sklearn.preprocessing import Normalizer
nm_x = Normalizer(norm='max')
x_nm = df.iloc[:,1:3].values
x_nm = nm_x.fit_transform(x_nm)
pd.DataFrame(x_nm)

          0    1
0  0.001000  1.0
1  0.001000  1.0
2  0.000920  1.0
3  0.001100  1.0
4  0.001286  1.0
5  0.001087  1.0